
{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>
    <div class="row">
        {% for product in object_list %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Ksh. {{ product.price }}</p>
                    <form action="{% url 'add-to-cart' product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>

                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}